doctype html
html(lang="en")
  head
    title Alternative Stats

    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:400,700,900")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    each styleFile in htmlWebpackPlugin.files.css
      link(rel="stylesheet" href=styleFile)
    each scriptFile in htmlWebpackPlugin.files.js
      script(src=scriptFile defer)

  body
    section.container
      .title-container
        a(href="/")
          img.title-img(src="static/title.svg" inline)

      #app
